<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div>
        {{#memes}}
            <div style="margin-bottom: 25px;"><img style="width: 300px; height: auto; object-fit: contain;" src="/storage/memes/{{this}}"></div>
        {{/memes}}

</div>
